.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;

}

.c1 {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px;
}

.transition {
    transition: all 0.6s;
}

.transition:hover {
    background-color: blueviolet;
    color: white;
    width: 500px;
    box-shadow: 0 4px 6px black;
    margin:20px;
    padding:30px;
}

.transition:active {
    background-color: orange;
    color: black;
    width: 200px;
    transform: translateY(50px);
    box-shadow: 0 4px 6px black;
}
.timing{
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.timing:hover{
    transform: translateY(-50px);
    background-color: yellow;
}
h2{
    text-align: center;
}
.transform{
    transition: transform 0.6s ease-out, background-color 0.4s;
}
.transform:hover{
    background-color: cyan;
    color: white;
    transform:scale(1.2) rotate(12deg);
}
.animation{
    animation-name: spin-around;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin-around{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.Shifter{
    animation: rainbow-shift 4s linear infinite;
}
@keyframes rainbow-shift{
    0%{
        background-color: red;
    }
    20%{
        background-color: orange;
    }
    40%{
        background-color: yellow;
    }
    60%{
        background-color: green;
    }
    80%{
        background-color: blue;
    }
    100%{
        background-color: violet;
    }
}
.bouncing{
    justify-content: flex-end;
    padding-bottom: 20px;
}
.ball{
    
    background-color: red;
    border-radius: 50%;
    animation: bounce 2s ease-in-out infinite alternate;
}
@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100px);
    }
}
.fill{
    animation: slide-right 2s forwards alternate infinite;
}
@keyframes slide-right{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(200px);
    }
}